*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(3, 37, 51);
}

.container{
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 100%;
    margin: auto;
    padding-top: 60px;
    gap: 20px;
}

img{
    width: 100%;
    object-fit: contain;
}

.card{
    background-color: rgb(6, 57, 79);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: calc(90% / 6);
}